<head th:fragment="page_head(title,remove)" th:remove="${remove}">
    <meta charset="utf-8" />
           <meta http-equiv="X-UA-Compatible" content="IE=edge" />
           <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
           <meta name="description" content="" />
           <meta name="author" content="" />
       
   <title>[[${title}]]</title>
   
   <link rel="stylesheet"
       th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
   <link rel="stylesheet" th:href="@{/fontawesome/css/all.css}">
   
   <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
   <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
   
   <link rel="stylesheet" th:href="@{/css/style.css}">

   
   </head>

   <th  class="px-4 py-2 text-left text-white-700"  th:fragment="column_link(fieldName, columnLabel, tag)" th:remove="${tag}">
    <a
    th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + '&keyword=' + ${keyword != null ? keyword : ''} + ${categoryId != null ? '&categoryId=' + categoryId : '' }}"
    >
        [[${columnLabel}]] 
        </a> <span th:if="${sortField == fieldName}"
    th:class="${sortDir == 'asc' ? 'fa fa-sort-up' : 'fa fa-sort-down'}"></span>


</th>


<div th:fragment="edit(entityName,editURL)" th:remove="tag">
    <a class="fas fa-edit fa-2x icon-green"
       
        th:href="@{${editURL}}"
        th:title="'Edit this ' + ${entityName}"></a>
        
        </div>

        <div th:fragment ="delete(entityName,deleteURL,,entityId,visible)" th:remove="tag">
		
            <th:block th:if="${visible}">
    
    
                <a class="fas fa-trash fa-2x icon-dark link-delete"
                    
                    th:href="@{${deleteURL}}"
                    th:entityId="${entityId}" 
                    th:title="'Delete this ' + ${entityName}"></a>
            </th:block>
        </div>