<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments :: page_head('Pouch Form - MobileMatcher','none')" />

<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div class="text-center m-3">
			<h2>Manage Pouches | [[${pageTitle}]]</h2>
		</div>

		<form th:action="@{/pouches/save}" method="post" th:object="${pouch}"
			style="max-width: 550px; margin: 0 auto;"
			enctype="multipart/form-data" onsubmit="return checkUnique(this)">

			<input type="hidden" th:field="*{id}">
			<div class="border border-secondary rounded p-3">

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Pouch Name:</label>
					<div class="col-sm-8">
						<input th:field="*{name}" type="text" class="form-control"
							required minlength="2" maxlength="45">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label mt-2">Pouch Image:</label>
					<div class="col-sm-8">
						<input type="hidden" th:field="*{image}"> <input
							id="fileImage" name="fileImage" type="file"
							accept="image/png, image/jpeg" th:required="${pouch.id == null}"
							class="mt-3">
						<div>
							<img class="img-fluid mt-2" style="width: 100px; height: auto;"
								id="thumbnail" th:src="@{${pouch.imagePath}}">
						</div>
					</div>
				</div>



				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Price:</label>
					<div class="col-sm-8">
						<input th:field="*{price}" type="number" step="100.00"
							class="form-control" required>
					</div>
				</div>


				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Mobile Brands:</label>
					<div class="col-sm-8">
						<select class="form-control" th:field="*{brand}" required>
							<th:block th:each="brand : ${listBrands}">

								<option th:value="${brand.id}">[[${brand.name}]]</option>
							</th:block>
						</select>

					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Select Compatible
						Mobiles:</label>
					<div class="col-sm-8">
						<select class="form-control" name="mobileIds"  multiple id = "compatibleMobiles"
							style="resize: vertical; height: 200px"  required>
							<th:block th:each="mobile : ${listMobiles}">
								<option  th:value="${mobile.id}">[[${mobile.name}]]</option>
							</th:block>
						</select>
						<div class="form-group row">
							<label class="col-sm-12 col-form-label text-muted"> <small>Hold
									down the Ctrl (Windows) or Command (Mac) button to select
									multiple options.</small>
							</label>
						</div>
					</div>
				</div>



				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Chosen Mobiles:</label>
					<div class="col-sm-8" id="chosenMobiles"></div>
				</div>


				<div class="text-center">
					<input type="submit" class="btn btn-primary m-3" value="Save">
					<input type="button" class="btn btn-secondary" value="Cancel"
						id="buttonCancel">
				</div>

			</div>
		</form>

		<div th:replace="modal_fragments :: modal_dialog"></div>
		<div th:replace="fragments :: footer" class="mt-auto"></div>
	</div>

	<script type="text/javascript">
		moduleURL = "[[@{/pouches}]]";
		MAX_FILE_SIZE = 2 * 1024 * 1024; // 2 MB

		moduleURL = "[[@{/pouches}]]";
		MAX_FILE_SIZE = 2 * 1024 * 1024; //1 MB

		$(document).ready(function() {
			dropBrands = $("#brand");
			divCompatibleMobiles = $("#compatibleMobiles");
			divChosenMobiles = $("#chosenMobiles")

			dropBrands.change(function() {
				getMobiles();

				divCompatibleMobiles.empty();
				//showChosenMobile();

			});
			getMobiles();

			divCompatibleMobiles.change(function() {
				showChosenMobile();
			});
			showChosenMobile();

		});

		function showChosenMobile() {
			divCompatibleMobiles
					.children("option:selected")
					.each(
							function() { /* Can use find() function also instead of children() */
								selectedMobile = $(this);
								mobId = selectedMobile.val();
								mobName = selectedMobile.text().replace(/-/g,
										'');

								divChosenMobiles
										.append("<span class='badge badge-secondary m-1' >"
												+ mobName + "</span>");
							});

		}

		function getMobiles() {
			brandId = dropBrands.val();
			url = "/brands" + "/" + brandId + "/mobiles";

			$.get(url, function(responseJSON) {
				$.each(responseJSON, function(index, mobile) {
					$("<option>").val(mobile.id).text(mobile.name).appendTo(
							divCompatibleMobiles);
				});
			});
		}

		function checkUnique(form) {

			brandId = dropdownBrands.val();

			url = "[[@{/mobiles/check_unique}]]";
			mobId = $("#id").val();
			mobName = $("#name").val();
			mobModel = $("#model").val();
			csrfValue = $("input[name = '_csrf']").val();

			params = {
				id : mobId,
				name : mobName,
				model : mobModel,
				_csrf : csrfValue
			};

			$
					.post(
							url,
							params,
							function(response) {

								if (response == 'OK') {
									form.submit();
								} else if (response == 'DuplicateName') {
									showWarningModal("There is another mobile exisits with the name: "
											+ mobName);
								} else if (response == 'DuplicateModel') {
									showWarningModal("There is another mobile exisits with the model: "
											+ mobModel);
								} else {
									showErrorDialog("Unknown response from server")
								}

							}).fail(function() {
						showErrorDialog("Could not connect to the server");

					});
			return false;
		}
	</script>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/common_form.js}"></script>
</body>
</html>